# Données et modèles (à ajuster si tu veux les versionner)
data/
models/
results/

# Environnements
.env
.venv
env/
venv/

# Conda
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Notebooks
*.ipynb_checkpoints/

# Système
.DS_Store
Thumbs.db

# Backup
backup_baseline/

# Installation Miniconda
Miniconda3-latest-MacOSX-arm64.sh
