# DONNÉES (ne pas versionner)
*.csv
*.joblib
*.pkl
*.json
*.png
*.jpg

# DOSSIERS DE DONNÉES
data/processed/
data/raw/
models/optimized/
reports/
results/
backup_baseline/results_baseline/

# SYSTÈME
.DS_Store
__pycache__/
*.pyc
Miniconda3-latest-MacOSX-arm64.sh

# EXCEPTIONS : garder les dossiers vides
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!results/.gitkeep
!reports/.gitkeep
!docs/.gitkeep
!notebooks/.gitkeep
!tests/.gitkeep
!backup_baseline/results_baseline/.gitkeep
